$bgBody: #cfd8dc;
$bgLight: #fafafa;
$bgDark: #1a237e;
$bgDark2: #af8c9d;

$textLight: invert($bgDark, 100%);
$textDark: invert($bgLight, 100%);

$linkColor: #03a9f4;
$linkColorActive: #0277bd;
$linkColorActiveDark: invert($bgDark);

$transparentBlack: rgba(black, 0.3);
$transparentBlack8: rgba(black, 0.8);
$shadow1: 1px 1px 3px $transparentBlack;

/* Shades of Light Blue */
$primary: #0277bd;
$primary2: #0288d1;
$primary3: #03a9f4;
$primary4: #e1f5fe;
$primaryBorder: #124d77;

$secondary1: #90a4ae;
$secondaryBorder: #546e7a;

$danger: #b71c1c;

$borderRadius: 4px;

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.navbar-brand {
  text-shadow: 2px 2px 1px $transparentBlack;
}

.navbar-dark {
  background-color: $bgDark;
  background-image: linear-gradient(lighten($bgDark, 5%) 0%, $bgDark 90%);
  color: $textLight;
}

.navbar-dark a {
  color: $textLight;
  text-shadow: 1px 1px 2px $transparentBlack;
}

.navbar-dark a:hover {
  color: $linkColorActiveDark;
}

.clickable {
  cursor: pointer;
  user-select: none;
}

.clickable:hover {
  text-decoration: underline;
}

.strike {
  text-decoration: line-through;
  opacity: 0.6;
}

.strike:hover {
  text-decoration: line-through underline;
}

.list {
  list-style-type: none;
  font-size: 17px;
  padding-left: 20px;
  margin-bottom: 1rem;

  li {
    line-height: 1.1rem;
    min-height: 1.5rem;
  }
}

.chat-box {
  min-height: 14em;
}

.border-rounded-bottom-left {
  border-radius: 0 0 0 $borderRadius;
}

.border-rounded-bottom-right {
  border-radius: 0 0 $borderRadius 0;
}
